.projetos {
    max-width: 1000px;
    margin: auto;
    padding: 2em;
}

.titulo__projetos {
    color: var(--azul1);
    font-size: 2.5em;
    margin-bottom: 25px;
}

.container__cards--projetos {
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    gap: 1em;
    color: var(--branco_claro);
    flex-wrap: wrap;
}

.cards__projetos {
    width: 400px;
    border: 2px solid var(--sombra);
    border-radius: 5px;
    box-shadow: 0px 2px 10px var(--sombra);
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards__projetos:hover {
    box-shadow: 1px 1px 10px 2px var(--azul1);
}

.cards__projetos>h2 {
    font-size: 2em;
    border-bottom: 2px solid var(--sombra);
    color: var(--azul1);
}

.imagem__projetos {
    max-width: 350px;
}