@media (max-width: 950px) {
    .cabecalho {
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }
}

@media (max-width: 480px) {

    .menu__lista {
        font-size: 0.8em;
    }
    
}

@media (max-width: 430px) {
    .menu__lista {
        font-size: 0.6em;
    }
}