@media (max-width: 650px) {
    .inicio {
        flex-direction: column-reverse;
        gap: 1.5em;
    }

    .bloco__sociais {
        flex-direction: row;
    }
}

@media (max-width: 430px) {
    .inicio {
        flex-direction: column-reverse;
    }

    .bloco__sociais {
        flex-direction: row;
    }
}

@media (max-width: 342px) {

    .sobre__inicio {
        font-size: 1.3em;
    }
}