@media screen and (max-width: 1150px) {
    .timeline {
        width: 80vw;
    }

    .timeline .checkpoint {
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }

    h1 {
        font-size: 2em;
    }
}