@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Saira:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: var(--font_principal);
}

:root {
    --branco_claro: #f5f5f5;
    --cinzaclaro: #ffffff80;
    --sombra: #5992ab1a;
    --azul1: #6C6CEC;
    --azul2: #2D2BA6;
    --azul3: #000069;
    --black: #00000A;


    --font_principal: 'Saira', sans-serif;
    --font_diferente: 'Saira Stencil One', cursive;
}

body{
    margin: 0;
    background-color: var(--black);
    color: var(--branco_claro);
}

main{
    padding: 2em;
}
    
span{
    color: #6C6CEC;
    font-family: var(--font_diferente);
}

h1{
    margin: 0.5em;
    font-size: 3em;
    font-family: var(--font_diferente);
}

h2{
    margin-bottom: 0.5em;
}

.seta-voltar {
    width: 2em;
    color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 50%;
    background-color: #f5f5f5;
}

.title{
    text-align: center;
}

.title p {
    color: #6C6CEC;
    font-size: 1.3em;
    letter-spacing: 2px;
}

.aviso {
    margin-top: 1em;
}

.cursos {
    display: flex;
    justify-content: center;
    margin: 4em auto;
}

.container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 1em;
    margin: auto;
}

.button {
    font-size: 1rem;
    margin: 1.5em 0.3em 0 0.3em;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    color: var(--branco_claro);
    background-color: var(--black);
    border: 1px solid var(--azul1);
}

.button:hover {
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 1px 1px 10px 2px var(--azul1);
}

.botoes {
    justify-content: center;
    flex-wrap: wrap;
}




.curso {
    max-width: 300px;
    padding: 10px;
    width: 300px;
    border: 2px solid var(--sombra);
    border-radius: 5px;
    box-shadow: 0px 2px 10px var(--sombra);
}

.curso:hover {
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 1px 1px 10px 2px var(--azul1);    
}