.sobre {
    max-width: 1000px;
    margin: auto;
    padding: 2em;
    margin-bottom: 3.7em;
}

.titulo__sobre {
    font-size: 2.5em;
    color: var(--azul1);
    margin-bottom: 25px;
}

.lista__sobre {
    margin-left: 30px;
    text-align: justify;
}

.item__sobre {
    color: var(--branco_claro);
    font-size: 1.5em;
    margin-bottom: 20px;
}


.destaque {
    font-family: var(--font_principal);
    color: var(--azul1);
}

.destaque:hover {
    text-decoration: underline var(--azul1);
}